# ==========================================
# Ignora credenciales y ajustes locales
# ==========================================
secrets.h
.env

# ==========================================
# Configuración de IDEs / SO
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==========================================
# Salida de compilación de Arduino / C++
# ==========================================
/build/
*.o
*.a
*.elf
*.bin

# ==========================================
# Archivos temporales y logs
# ==========================================
*.log
*.tmp
*.swp
*.orig
backup_*
