// Por favor, renombra este archivo a "secrets.h" y rellena tus datos.
// Este archivo NO se subirá a Git, protegiendo tu información.

#ifndef SECRETS_H
#define SECRETS_H

// ==========================================
// ⚙️ CONFIGURACIÓN DE CREDENCIALES
// ==========================================

// Red WiFi
const char* ssid = "TU_WIFI_SSID";
const char* password = "TU_WIFI_PASSWORD";

// Webhook y Time Server
const char* webhookUrl = "URL_DE_TU_WEBHOOK";
const char* timeServerUrl = "https://worldtimeapi.org/api/ip"; // Servidor público de ejemplo

// Nombre del dispositivo para la cabecera User-Agent (Identifica el origen)
const char* DEVICE_NAME = "Checador_Oficina_1";

// Zona Horaria (Ej: Monterrey UTC-6 -> -6 * 3600 = -21600)
const long timeZoneOffset = -21600; 

#endif // SECRETS_H
